.page {
  min-height: 100vh;
  background: #fff;
}

.container {
  padding: 40rpx;
  text-align: center;
}

.brandTitle {
  display: block;
  font-size: 36rpx;
  font-weight: 600;
  color: #333;
  margin-top: 100rpx;
  margin-bottom: 40rpx;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoText {
  font-size: 28rpx;
  color: #666;
  line-height: 2;
}

.homeLink {
  display: block;
  font-size: 28rpx;
  color: #333;
  text-decoration: underline;
  margin-top: 60rpx;
}
