.wrapper {
  position: fixed;
  bottom: 220rpx;
  right: 40rpx;
  width: 80rpx;
  height: 80rpx;
  border-radius: 50%;
  background: #fff;
  z-index: 998;
  box-shadow: 0 4rpx 12rpx rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;

  &:active {
    transform: scale(0.95);
  }
}

.icon {
  width: 50rpx;
  height: 50rpx;
}
