.page {
  min-height: 100vh;
  background-color: #ffffff;
}

.container {
  width: 100%;
}

/* 保养指南内容 */
.careContent {
  padding: 30rpx;
  min-height: 200rpx;
}

.careTitle {
  font-size: 30rpx;
  font-weight: 600;
  width: 90%;
  margin-top: 30rpx;
  margin-bottom: 10rpx;
  margin-left: 5%;
}

.careText {
  font-size: 25rpx;
  color: rgb(75, 75, 75);
  width: 90%;
  margin-left: 5%;
  margin-bottom: 30rpx;
  line-height: 1.8;
}

/* 底部文字 */
.footerText {
  width: 90%;
  margin-left: 5%;
  margin-top: 60rpx;
  margin-bottom: 40rpx;
  padding-bottom: 40rpx;
}

.footerLine {
  font-size: 25rpx;
  color: rgb(75, 75, 75);
  line-height: 1.8;
  margin-bottom: 10rpx;
}

.serviceLinkText {
  text-decoration: underline;
  color: rgb(75, 75, 75);
}

/* 分隔线 */
.divider {
  height: 20rpx;
  background-color: #f5f5f5;
  margin: 20rpx 0;
}

/* 售后申请表单 */
.applySection {
  padding: 30rpx;
}

.applyTitle {
  font-size: 36rpx;
  font-weight: 600;
  color: #333;
  margin-bottom: 30rpx;
}

.applyBlock {
  margin-bottom: 30rpx;
}

.blockTitle {
  font-size: 28rpx;
  font-weight: 600;
  color: #333;
  margin-bottom: 20rpx;
}

/* 商品选择 */
.orderItem {
  display: flex;
  align-items: center;
  padding: 20rpx 0;
  border-bottom: 1rpx solid #eee;
}

.itemLeft {
  margin-right: 20rpx;
}

.itemThumb {
  width: 120rpx;
  height: 120rpx;
  border-radius: 8rpx;
}

.itemMid {
  flex: 1;
}

.itemName {
  font-size: 28rpx;
  color: #333;
  margin-bottom: 8rpx;
}

.itemSub {
  font-size: 24rpx;
  color: #999;
  margin-bottom: 4rpx;
}

.itemRight {
  margin-left: 20rpx;
}

.radioOuter {
  width: 40rpx;
  height: 40rpx;
  border-radius: 50%;
  border: 2rpx solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.radioOuterChecked {
  border-color: #000;
  background-color: #000;
}

.radioInner {
  width: 16rpx;
  height: 16rpx;
  border-radius: 50%;
  background-color: #fff;
}

/* Picker */
.pickerView {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20rpx;
  border: 1rpx solid #eee;
  border-radius: 8rpx;
  font-size: 28rpx;
  color: #333;
}

.pickerPlaceholder {
  color: #999;
}

.pickerArrow {
  color: #999;
  font-size: 24rpx;
}

/* Textarea */
.descTextarea {
  width: 100%;
  height: 200rpx;
  border: 1rpx solid #eee;
  border-radius: 8rpx;
  padding: 20rpx;
  font-size: 28rpx;
  box-sizing: border-box;
}

.charCount {
  text-align: right;
  font-size: 24rpx;
  color: #999;
  margin-top: 10rpx;
}

/* 图片上传 */
.photos {
  display: flex;
  flex-wrap: wrap;
  gap: 16rpx;
}

.photoItem {
  position: relative;
  width: 160rpx;
  height: 160rpx;
}

.photoImg {
  width: 100%;
  height: 100%;
  border-radius: 8rpx;
}

.photoDel {
  position: absolute;
  top: -10rpx;
  right: -10rpx;
  width: 36rpx;
  height: 36rpx;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  color: #fff;
  font-size: 24rpx;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photoAdd {
  width: 160rpx;
  height: 160rpx;
  border: 2rpx dashed #ddd;
  border-radius: 8rpx;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #999;
}

.addIcon {
  font-size: 48rpx;
  line-height: 1;
}

.addText {
  font-size: 22rpx;
  margin-top: 8rpx;
}

.uploadTip {
  font-size: 24rpx;
  color: #ff6b35;
  margin-top: 16rpx;
}

/* 提交按钮 */
.submitWrap {
  padding: 40rpx 0;
}

.submitBtn {
  width: 90%;
  margin: 0 auto;
  height: 88rpx;
  background: #000;
  color: #fff;
  border-radius: 8rpx;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30rpx;
}

.submitBtnDisabled {
  opacity: 0.5;
}
