.page {
  min-height: 100vh;
  background-color: #ffffff;
}

.contentScroll {
  height: calc(100vh - 88rpx);
}

.contentContainer {
  padding: 30rpx 30rpx 50rpx 30rpx;
}

/* 章节标题 */
.sectionTitle {
  text-align: center;
  margin-bottom: 30rpx;
  margin-top: 40rpx;

  &:first-child {
    margin-top: 20rpx;
  }
}

.sectionTitleText {
  font-size: 32rpx;
  font-weight: 800;
  color: #111111;
}

/* 内容区域 */
.contentSection {
  margin-top: 20rpx;
}

.paragraph {
  font-size: 28rpx;
  line-height: 1.8;
  margin-bottom: 30rpx;
  color: #555;
  text-align: justify;
}

/* 底部留白 */
.bottomView {
  height: 5vh;
}
