.page {
  min-height: 100vh;
  background-color: #f5f5f5;
  font-family: 'PingFang SC', -apple-system, BlinkMacSystemFont, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 88px);
}

// 订单列表 ScrollView
.orderList {
  flex: 1;
  height: calc(100vh - 200px);
  padding: 0 20rpx;
}

// 订单卡片
.orderCard {
  background: #f3f3f3;
  margin-bottom: 20rpx;
  display: flex;
  flex-direction: column;
  width: 100%;
}

// 卡片顶部
.cardHeader {
  display: flex;
  justify-content: space-between;
  padding: 20rpx 20rpx 0;
  box-sizing: border-box;
}

.dateId {
  display: flex;
  flex-direction: column;
}

.date {
  font-size: 22rpx;
  color: rgb(87, 87, 87);
  white-space: nowrap;
}

.idRow {
  margin-top: 6rpx;
  display: flex;
  align-items: center;
}

.orderId {
  font-size: 24rpx;
  font-weight: 550;
  color: rgb(87, 87, 87);
  white-space: nowrap;
}

.copy {
  text-decoration: underline;
  margin-left: 10rpx;
  font-size: 24rpx;
  color: rgb(87, 87, 87);
}

.statusText {
  font-weight: 600;
  font-size: 30rpx;
  line-height: 1.5;
  display: flex;
  align-items: flex-start;
  margin-top: 20rpx;
  color: #333;
}

// 卡片内容
.cardBody {
  display: flex;
  padding: 20rpx;
}

.productImg {
  width: 200rpx;
  height: 200rpx;
  flex-shrink: 0;
  margin-right: 30rpx;
}

.productInfo {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
}

.infoTop {
  flex: 1;
  display: flex;
  justify-content: space-between;
  gap: 20rpx;
}

.infoLeft {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  align-items: flex-start;
  justify-content: flex-start;
}

.productName {
  font-size: 30rpx;
  font-weight: 600;
  color: rgb(0, 0, 0);
  margin-bottom: 4rpx;
  word-wrap: break-word;
  word-break: break-all;
  line-height: 1.4;
}

.productNameEN {
  font-size: 24rpx;
  color: rgb(87, 87, 87);
  font-weight: 400;
  margin-bottom: 4rpx;
  line-height: 1.3;
}

.material {
  font-size: 20rpx;
  color: #666;
}

.infoRight {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  min-width: 100rpx;
  align-items: flex-end;
  justify-content: flex-start;
}

.unitPrice {
  font-size: 26rpx;
  color: rgb(0, 0, 0);
  text-align: right;
}

.quantity {
  font-size: 22rpx;
  text-align: right;
  color: rgb(100, 100, 100);
}

.infoBottom {
  display: flex;
  align-items: flex-end;
  width: 100%;
  margin-top: 10rpx;
}

.total {
  font-size: 25rpx;
  width: 100%;
  white-space: nowrap;
  text-align: right;
}

// 卡片底部按钮区
.cardFooter {
  display: flex;
  justify-content: flex-end;
  padding: 0 20rpx 20rpx;
  box-sizing: border-box;
}

.btn {
  display: flex;
  height: 60rpx;
  min-width: 200rpx;
  margin: 0;
  padding: 0;
  border-radius: 0;
  font-size: 27rpx;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  border: 2rpx solid #000;
  margin-left: 10rpx;
}

.btnPrimary {
  background-color: #000;
  color: #fff;
}

// 空状态
.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.emptyIcon {
  margin-top: 200rpx;
  width: 100rpx;
  height: 100rpx;
  margin-bottom: 0;
}

.emptyText {
  font-size: 35rpx;
  color: rgb(48, 47, 47);
  margin-top: 40rpx;
  margin-bottom: 50rpx;
  padding-bottom: 5%;
}

.goShopBtn {
  width: 90%;
  background-color: #000;
}

.goShopText {
  display: block;
  background-color: #000;
  color: #fff;
  border-radius: 0;
  width: 100%;
  font-size: 30rpx;
  text-align: center;
  padding: 20rpx 0;
}
