.container {
  min-height: 100vh;
  font-family: 'PINGFANG SC';
}

.iconContainer {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.icon {
  width: 130rpx;
  height: 130rpx;
}

.paymentFailed {
  margin-top: 60rpx;
  font-size: 40rpx;
  color: #333;
}

.explainContainer {
  width: 74%;
  margin-left: 13%;
  text-align: center;
  font-size: 25rpx;
  font-weight: 300;
  color: rgb(114, 114, 114);
}

.explain {
  font-size: 25rpx;
  font-weight: 500;
  text-decoration: underline;
  color: rgb(58, 58, 58);
}

.btn {
  width: 90%;
  margin-left: 5%;
  margin-top: 160rpx;
  display: flex;
  flex-direction: column;
}

.bottomBtn {
  width: 100%;
  height: 100rpx;
  border: black solid 2rpx;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 28rpx;
}

.rePay {
  background-color: #000;
  color: #fff;
}

.viewOrder {
  margin-top: 50rpx;
  background-color: #fff;
  color: #000;
}
