.container {
  min-height: 100vh;
  background-color: #f5f5f5;
  font-family: 'PINGFANG SC';
}

/* 顶部：标题 + 添加新地址 */
.top {
  display: flex;
  justify-content: space-between;
  padding: 30rpx 0 20rpx 0;
  background-color: #fff;
}

.topText {
  font-size: 28rpx;
  margin-left: 40rpx;
  margin-bottom: 10rpx;
  color: #666;
}

.littleAddNew {
  font-size: 24rpx;
  margin-right: 40rpx;
  margin-top: 10rpx;
  color: rgb(43, 43, 43);
}

/* 空态：新增地址按钮 */
.addNewAddress {
  height: 85rpx;
  width: 90%;
  margin-left: 5%;
  margin-top: 40rpx;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 27rpx;
  font-weight: 600;
}

/* 地址列表滚动区 */
.scrollView {
  height: calc(100vh - 280rpx);
  background-color: #fff;
}

/* 地址项容器 */
.addressItem {
  width: 90%;
  margin-left: 5%;
  padding: 40rpx 0;
  border-top: 1rpx solid #e5e5e5;
  display: flex;
  flex-direction: column;
}

.addressItemSelected {
  border: rgb(151, 151, 151) solid 2rpx;
  padding: 45rpx;
  padding-bottom: 45rpx;
}

/* 选择/默认 标签行 */
.badgeRow {
  display: flex;
  margin-bottom: 20rpx;
}

.badge {
  height: 45rpx;
  min-width: 90rpx;
  margin-right: 15rpx;
  font-size: 26rpx;
  font-weight: 500;
  background-color: rgb(184, 184, 184);
  color: rgb(66, 66, 66);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 10rpx;
}

/* 地址详情 + 编辑 */
.addressDetailEdit {
  display: flex;
}

.addressInfo {
  margin-left: 30rpx;
  width: 400rpx;
}

.namePhone {
  display: flex;
  margin-bottom: 20rpx;
}

.name {
  margin-right: 25rpx;
  font-size: 30rpx;
  color: rgb(41, 41, 41);
}

.phone {
  font-size: 24rpx;
  color: rgb(41, 41, 41);
  line-height: 30rpx;
  display: flex;
  align-items: center;
}

.residence {
  font-size: 24rpx;
  color: rgb(41, 41, 41);
}

.edit {
  font-size: 23rpx;
  margin-left: auto;
  color: #333;
  display: flex;
  align-items: center;
}

/* 底部确认按钮 */
.confirm {
  height: 85rpx;
  width: 90%;
  margin-left: 5%;
  margin-top: 40rpx;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 27rpx;
  font-weight: 600;
}

.bottomSpacer {
  height: 80rpx;
}
