.wrapper {
  width: 100%;
  position: fixed;

  top: 0;
  left: 0;
  z-index: 999;
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 20rpx;
  margin-bottom: 0;
}

.logo {
  height: 100%;
}
