.container {
  padding: 50rpx 40rpx 40rpx;
}

.title {
  font-size: 36rpx;
  font-weight: 600;
  color: #333;
  margin-bottom: 40rpx;
  display: block;
  text-align: center;
}

.btnGroup {
  display: flex;
  gap: 20rpx;
}

.continueBtn {
  flex: 1;
  height: 88rpx;
  background: #000;
  border-radius: 8rpx;
  display: flex;
  align-items: center;
  justify-content: center;
}

.continueBtnText {
  color: #fff;
  font-size: 28rpx;
  font-weight: 600;
}

.cartBtn {
  flex: 1;
  height: 88rpx;
  background: #f5f5f5;
  border-radius: 8rpx;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartBtnText {
  color: #333;
  font-size: 28rpx;
  font-weight: 600;
}
