.card {
  height: 750rpx;
  display: flex;
  flex-direction: column;
}

.imageArea {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
  padding-left: 12%;
}

.image {
  width: 80%;
  height: 80%;
}

.info {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 16rpx 20rpx 20rpx;
}

.infoLeft {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.productId {
  font-size: 26rpx;
  color: #999;
  margin-bottom: 4rpx;
}

.name {
  font-size: 35rpx;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nameEN {
  font-size: 28rpx;
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.infoRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 16rpx;
}

.addBtn {
  width: 50rpx;
  height: 50rpx;
  border-radius: 50%;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8rpx;
}

.addIcon {
  color: #fff;
  font-size: 32rpx;
  line-height: 1;
}

.price {
  font-size: 30rpx;
  color: #333;
  white-space: nowrap;
}
