.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 1;
}

.skipBtn {
  position: absolute;
  top: 150rpx;
  right: 30rpx;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 30rpx;
  padding: 10rpx 20rpx;
}

.skipText {
  color: #fff;
  font-size: 24rpx;
  font-weight: 500;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.popup {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  padding: 20rpx;
  padding-bottom: 40rpx;
  min-height: 300rpx;
  z-index: 1000;
  box-sizing: border-box;
}

.popupTitle {
  font-size: 30rpx;
  font-weight: bold;
  margin-bottom: 40rpx;
  display: block;
}

.popupContent {
  font-size: 26rpx;
  color: rgb(44, 43, 43);
  line-height: 1;
  margin-bottom: 30rpx;
  display: block;
}

.detailLink {
  font-size: 26rpx;
  color: rgb(17, 17, 17);
  line-height: 1;
  margin-top: 10rpx;
  margin-bottom: 20rpx;
  text-decoration: underline;
  display: block;
}

.btnRow {
  display: flex;
  padding: 25rpx 16rpx;
}

.btnDisagree,
.btnAgree {
  width: 60%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80rpx;
  font-size: 26rpx;
  border-radius: 0rpx;
}

.btnDisagree {
  background: #ddddddbd;
  color: rgb(24, 24, 24);
}

.btnAgree {
  background: #000;
  color: #f5f5f5;
}
