.wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 999;
  border-top: 1rpx solid #e5e5e5;
  padding-bottom: env(safe-area-inset-bottom);
}

.inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100rpx;
}

.tabItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 48rpx;
  height: 48rpx;
  margin-bottom: 4rpx;
}

.text {
  font-size: 20rpx;
  color: #999999;
}

.textActive {
  color: #333333;
}
