.page {
  min-height: 100vh;
  background: #fff;
}

.scrollView {
  background: #fff;
}

.contentContainer {
  padding: 30rpx 30rpx 50rpx 30rpx;
}

.title {
  margin: 30rpx;
  margin-bottom: 40rpx;
  margin-top: 70rpx;
  font-size: 35rpx;
  font-weight: 600;
  text-align: center;
}

.chapter {
  margin-bottom: 40rpx;
}

.chapterTitle {
  font-size: 32rpx;
  font-weight: 600;
  margin-bottom: 20rpx;
  color: #333;
  border-left: 8rpx solid #000;
  padding-left: 20rpx;
}

.paragraph {
  font-size: 28rpx;
  line-height: 1.6;
  margin-bottom: 20rpx;
  color: #555;
  text-align: justify;
}

.indent {
  margin-left: 40rpx;
  color: #666;
}

.bottomSpacer {
  height: 5vh;
}
