// 全局字体
page {
  font-family: 'PingFang SC', -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 28px;
  color: #333;
  background-color: #f5f5f5;
}

// 隐藏滚动条
::-webkit-scrollbar {
  display: none;
}
