.page {
  min-height: 100vh;
  background: #fff;
}

/* 加载状态 */
.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.loadingContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loadingSpinner {
  width: 40rpx;
  height: 40rpx;
  border: 4rpx solid #f3f3f3;
  border-top: 4rpx solid #333;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 20rpx;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loadingText {
  font-size: 28rpx;
  color: #666;
}

/* 空状态 */
.emptyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.emptyTip {
  font-size: 30rpx;
  color: rgb(133, 129, 129);
  margin-bottom: 40rpx;
  margin-top: 100rpx;
  padding-bottom: 5%;
}

.goShopBtnWrap {
  width: 90%;
  background-color: #000;
}

.goShopBtn {
  background-color: #000;
  color: #fff;
  border-radius: 0;
  width: 100%;
  font-size: 30rpx;
  height: 80rpx;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

/* 列表 */
.listContainer {
  display: flex;
  flex-direction: column;
  position: relative;
}

.wishlist {
  flex: 1;
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
  padding-top: 20rpx;
  padding-bottom: 40rpx;
}

.item {
  height: 250rpx;
  display: flex;
  align-items: center;
  border-bottom: 2rpx solid rgb(196, 196, 196);
  padding-top: 10rpx;
  padding-bottom: 10rpx;
  margin-left: 16rpx;
}

.product {
  width: 100%;
  height: 100%;
  display: flex;
}

.display {
  width: 200rpx;
  height: 200rpx;
  margin-top: 4%;
  margin-bottom: 4%;
  flex-shrink: 0;
  overflow: hidden;
}

.displayImage {
  width: 100%;
  height: 100%;
  border-radius: 4rpx;
}

.exceptDisplayTop {
  display: flex;
  align-items: flex-start;
  position: relative;
  height: 200rpx;
  flex: 1;
  margin-top: 4%;
  margin-left: 20rpx;
  min-width: 0;
  box-sizing: border-box;
}

.exceptDisplayCancelTop {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  height: 100%;
  justify-content: flex-start;
  box-sizing: border-box;
  padding-right: 50rpx;
}

.name {
  font-size: 28rpx;
  font-weight: 600;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 100%;
  line-height: 1.4;
  margin-bottom: 2rpx;
  box-sizing: border-box;
}

.foreignName {
  font-size: 24rpx;
  color: #666;
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 100%;
  margin-bottom: 6rpx;
  margin-top: 4rpx;
  box-sizing: border-box;
}

.material {
  font-size: 22rpx;
  color: #999;
  line-height: 1.3;
  margin-top: 4rpx;
  margin-bottom: 8rpx;
}

.exceptDisplayBottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: auto;
}

.price {
  font-size: 32rpx;
  color: #333;
  font-weight: 500;
}

.cancel {
  position: absolute;
  top: -8rpx;
  right: 0;
  font-size: 45rpx;
  color: #000;
  padding: 0 10rpx;
  line-height: 1;
  z-index: 10;
  min-width: 50rpx;
  text-align: center;
  flex-shrink: 0;
  width: 50rpx;
  box-sizing: border-box;
}
