.container {
  min-height: 100vh;
  font-family: 'PINGFANG SC';
}

.title {
  margin-left: 20rpx;
  margin-bottom: 40rpx;
  font-size: 40rpx;
  font-weight: 600;
  color: rgb(0, 0, 0);
}

/* 空状态 */
.emptyState {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  text-align: center;
  margin-top: 100rpx;
}

/* 新增地址按钮 */
.addNewAddress {
  height: 85rpx;
  width: 95%;
  margin-top: 40rpx;
  margin-left: 20rpx;
  background-color: black;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 27rpx;
  font-weight: 600;
}

/* 滚动区域 */
.addressScrollView {
  height: 80vh;
}

/* 地址卡片 */
.addressCard {
  width: 96%;
  margin-left: 2%;
  padding-top: 60rpx;
  padding-bottom: 65rpx;
  border-top: rgb(151, 151, 151) solid 2rpx;
  display: flex;
  flex-direction: column;
}

/* 默认标签 */
.defaultTag {
  height: 45rpx;
  width: 90rpx;
  margin-left: 10rpx;
  margin-bottom: 20rpx;
  font-size: 26rpx;
  font-weight: 500;
  background-color: rgb(184, 184, 184);
  color: rgb(66, 66, 66);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* 地址详情编辑区 */
.addressDetailEdit {
  display: flex;
}

/* 左侧地址信息 */
.addressContainer {
  margin-left: 10rpx;
  width: 400rpx;
  display: flex;
  flex-direction: column;
}

.namePhone {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.name {
  margin-right: 25rpx;
  font-size: 30rpx;
  color: rgb(0, 0, 0);
  font-weight: 600;
}

.phone {
  font-size: 30rpx;
  color: rgb(0, 0, 0);
  font-weight: 600;
}

.provinceCity {
  font-size: 28rpx;
  color: rgb(0, 0, 0);
  font-weight: 600;
  margin-bottom: 6rpx;
  line-height: 1.3;
  margin-top: 20rpx;
}

.detailAddress {
  font-size: 28rpx;
  color: rgb(0, 0, 0);
  font-weight: 600;
  word-wrap: break-word;
  word-break: break-all;
}

/* 右侧操作区 */
.ops {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
  margin-right: 30rpx;
}

.editDeleteButtons {
  display: flex;
  flex-direction: column;
  gap: 15rpx;
  margin-bottom: 20rpx;
}

.editBtn,
.deleteBtn {
  font-size: 20rpx;
  color: #3b4046;
  padding: 8rpx 16rpx;
  border: 1rpx solid #3b4046;
  border-radius: 8rpx;
  text-align: center;
  min-width: 80rpx;
}

.setDefault {
  font-size: 24rpx;
  color: #3b4046;
  padding: 6rpx 12rpx;
  border: 1rpx solid #3b4046;
  border-radius: 6rpx;
  text-align: center;
  min-width: 100rpx;
}

/* 底部占位 */
.bottomSpacer {
  height: 80rpx;
}
